div(id="cookie_consent_container" style="display:none")
  div
     span(id="cookie_consent") Use this space to summarize your privacy and cookie use policy. 
     a(href="privacy") Learn More
  div(id="cookieConsent")
     button(class="accept-policy close" data-cookie-string="cookieString" aria-label="Close") Accept
script(src='/javascripts/cookies.js')